body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.612) 0%,
      rgba(45, 36, 36, 0.6) 45%,
      rgba(255, 255, 255, 0.423) 100%
    ),
    linear-gradient(-90deg, rgba(14, 14, 89, 0.569), rgb(251, 218, 127));
}

.wrapper {
  display: flex;
  gap: 10px;
}

.flex {
  max-width: calc(70vw - 50px);
}

.speed {
  min-height: 100%;

  background-color: white;
  min-width: 60px;
  border-radius: 20px;
  transition: all 0.3s;
  overflow: hidden;
}
.speed-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background:linear-gradient(rgba(255, 0, 0, 0.601),rgba(255, 255, 0, 0.246)),linear-gradient(rgb(0, 149, 255),rgb(255, 255, 0));
min-height: 10%;
color: white;
text-shadow: 0 0 5px black,0 3px 5px black;
user-select: none;


}
.speed:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 15px black;
}
