html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

img {
  max-width: 200px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.links>div>a{
    width: 50%;
}