:root{
    --base: #ffffff;
    --spacing: 0px;
    --blur: 0px;
    --border-radius: 0%;
    --width: 800px;
    --height: 600px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    border-radius: var(--border-radius);
    width: var(--width);
    height: var(--height);
}

.h1{
    color: var(--base);
}

body{
    background: rgb(36, 67, 116);
    color: white;
    font-size: 3rem;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    text-align: center;
    
}

.controls{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}