body {
  display: flex;
  justify-content: center;
  background-color: rgb(252, 146, 108);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 0;
}

button {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.639);
}

button:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.422);
}

.strip {
  display: flex;
  flex-wrap: wrap;
}

.strip img {
  width: 160px;
}

.photobooth {
  width: 640px;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.strip a{
    transition: transform .3s;
}
.strip a:hover {
    transform: scale(1.33);
    z-index: 10;
}

.strip img:hover {
    border-radius: 5px;
}
