body {
  background: linear-gradient(
    4deg,
    rgba(129, 6, 6, 1) 0%,
    rgba(149, 17, 60, 1) 36%,
    rgba(141, 255, 253, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
ul {
  align-items: center;
  background-color: white;
  padding: 5px 50px;
  border-radius: 10px;
}
h2 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
